.webgl {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: difference;
  z-index: -1;
}

/* new */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section {
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 100vh;
  /* width: 100vw; */
  /* flex: 0 0 100vw; */
}
.section-gray {
  background: gray;
}
.section-lightblue {
  background: lightblue;
}
.horizontal-sections {
  position: relative;
  overflow: hidden;
}
.pin-wrap,
.animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.horizontal-sections1 {
  position: relative;
  overflow: hidden;
}
.pin-wrap1,
.animation-wrap1 {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.select {
  font-weight: 500;
}
.select_work {
  font-family: "Playfair Display", sans-serif;
}
